body, h1, h2,h3 {font-family: "Lato",sans-serif;}
body,html{height: 100%; line-height: 1.8;}
body{background-color: rgb(230, 230, 230, 0.3);}

 /*Efecto Parallax*/

.bimg1, .bimg2, .bimg3{
    background-attachment:fixed;
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
}

 /*primer parallax FOTO*/
 .bimg1 {background-image: url('/Programacion/MiWeb/IMG/1.png'); min-height:100% ;}

 .bimg2{background-image: url('/Programacion/MiWeb/IMG/7.jpg'); min-height: 500px;}
 
 .bimg3{background-image: url('/Programacion/MiWeb/IMG/2.jpg'); min-height: 500px;}
     
 .w3-wide {letter-spacing: 10px;}
 .w3-hover-opacity {cursor: pointer;}

 #imgObelisco{height: 400px; width: 100%;}

 #bbdd i {color: crimson;}
 #git i {color: green;}
 #leng i {color: midnightblue;}

 /*-------Footer----------*/

 #iconFace:hover { color:rgb(0, 92, 230);}
 #iconTwt:hover{color: rgb(51, 204, 255);}
                    